In [2]:
# 리스트 생성 방법
a = [] # 비어있는 리스트를 만드는 방법

# 자료가 들어있는 리스트
b = [1,2,3]
c = ["my","name","is","소현"]

# 근데 자바와 뭔가 다른데? 확인해봅시다!
d = [1,2,'쉬는 시간'] # 자바와 다르게 다른 자료형도 들어간다.
e = [1,2,['빨리','왔으면...']]

In [17]:
list1 = [0,1,2,3,4,5]

# 3이라는 값을 인덱싱을 이용해서 가져와보자
list1[3]

3

In [18]:
# 5라는 값을 인덱싱을 이용해서 가져와보자
list1[5]

5

In [21]:
# 2차원 리스트에서의 인덱싱
list2 = [1,2,3,['a','b','c']]

# 리스트 인덱싱을 사용해서 temp에 a,b,c를 저장하고 출력해라
temp = list2[3]
print(temp)

['a', 'b', 'c']

In [29]:
# list2에서 문자 b만 뽑아서 출력하시오
print(temp[1])

list2[3][1]

b

'b'

In [35]:
# 리스트 슬라이싱
# list1에서 1~3까지 숫자를 가져와보자
list1[1:4]

[1, 2, 3]

In [39]:
# 리스트 더하기
# 리스트간에 연산은 불가능하다! 다만 각각 내부의 값을 인덱싱해와서 연산은 할 수 있다.
list3 = [1,2,3]
list4 = [4,5,6]
print(list3 + list4) #리스트간의 연산(문자열 이어붙히기)
print(list3[0] + list4[0]) #인덱싱 후 연산(더함)

[1, 2, 3, 4, 5, 6]
5

In [37]:
# 넘파이 더하기(얘는 연산이 됨) - 리스트랑 헷갈리지 말기
import numpy as np

arr1= np.array([1,2,3])
arr2 = np.array([4,5,6])

arr1 +arr2

array([5, 7, 9])

### 리스트 값 추가
- append()
- insert()

In [44]:
# append() : 리스트 내부의 요소값 맨 뒤에 데이터 값을 추가하는 방식
list5 =[0, 1, 2, 3, 4]
list5.append(5) # 값 5를 추가를 할꺼다. 
list5

[0, 1, 2, 3, 4, 5]

In [49]:
list_ = ['사과', '포도',['수박','멜론'],'복숭아','딸기','오렌지']

a= list_[0]
o = list_[-1]
w = list_[2][0]

choice_list = [a,o,w]
print(choice_list)

['사과', '오렌지', '수박']

In [59]:
# append 사용하기
list_2 = ['사과', '포도',['수박','멜론'],'복숭아','딸기','오렌지']

a2= list_[0]
o2= list_[-1]
w2 = list_[2][0]

choice_list2 = [] #리스트 빈공간을 먼저 만들어주고, 그 안에 값을 추가한다고 해야함
                    # 이거 안해주면 name에러남!

choice_list2.append(a2) # append는 하나의 속성만 추가할 수 있다.
choice_list2.append(o2)
choice_list2.append(w2)
choice_list2.append([a2,o2,w2]) #리스트로 묶으면 하나의 속성이 되니까 들어감!

print(choice_list2)

['사과', '오렌지', '수박', ['사과', '오렌지', '수박']]

In [61]:
# insert( 인덱스 ,값 ) 인덱스 위치에 값을 추가하는 방식!
# insert는 지정한 인덱스 위치에 값을 추가하는 방식이다.
# 기존에 그 위치에 있던 값은 뒤로 한칸 밀려난다(기존 인덱스 +1)

list6 = [0,1,2,3,4]
list6.insert(4 , 5) # 기존에 있던 친구를 밀고 추가됨!

list6

[0, 1, 2, 3, 5, 4]

In [64]:
# insert 실습
music_list = [['폭망','엔플라잉'],
              ['Hype boy','New Jeans'],
              ['팔레트','김뮤지엄']]

# 문제!
# music_list 인덱스 1인 곳에 멜로망스 취중고백 추가
music_list.insert(1,['취중고백','멜로망스'])

# music_list 인덱스 3인 곳에 ['퇴근하겠습니다','장미여관'] 추가
music_list.insert(3,['퇴근하겠습니다','장미여관'])

music_list

[['폭망', '엔플라잉'],
 ['취중고백', '멜로망스'],
 ['Hype boy', 'New Jeans'],
 ['퇴근하겠습니다', '장미여관'],
 ['팔레트', '김뮤지엄']]

In [66]:
# 정수 형태의 인덱스 값, 노래제목, 가수명을 입력문을 통해 입력받고
# insert함수를 이용해서 music_list에 새로운 값을 추가하세요

index_value = int(input("인덱스 >> "))
song = input("노래 제목 >> ")
singer = input("가수명 >> ")

music_list.insert(index_value, [song,singer])

music_list

인덱스 >> 5
노래 제목 >> HOT
가수명 >> 세븐틴

[['폭망', '엔플라잉'],
 ['취중고백', '멜로망스'],
 ['Hype boy', 'New Jeans'],
 ['퇴근하겠습니다', '장미여관'],
 ['세븐틴', 'HOT'],
 ['HOT', '세븐틴'],
 ['팔레트', '김뮤지엄']]

In [86]:
list7 = [0, 1, 2, 3, 4]
list7

[0, 1, 2, 3, 4]

In [87]:
print(f"수정 전 : {list7[4]}")
list7[4] = 2
print(f"수정 후 : {list7[4]}")

수정 전 : 4
수정 후 : 2

In [88]:
list7[1:4]

[1, 2, 3]

In [89]:
print(f"수정 전 : {list7[1:4]}")
print(list7)

list7[1:4] = [7]  # 슬라이싱을 이용한 방법
print(f"수정 후 : {list7[1:4]}")
print(list7)

수정 전 : [1, 2, 3]
[0, 1, 2, 3, 2]
수정 후 : [7, 2]
[0, 7, 2]

In [49]:
# 실습

array = [1,2,3,4,5]

array[-1] = 7
array

[1, 2, 3, 4, 7]

In [50]:
array[1] = ['a','b','c']
array

[1, ['a', 'b', 'c'], 3, 4, 7]

In [53]:
array[3 :] = ['d','e']
array[5 :] = ['f','g']
array
print(array)

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [48]:
array[0] = ['h','i','j']
array
print(array)

[['h', 'i', 'j'], ['a', 'b', 'c'], 3, ('d', 'e'), ('f', 'g')]

### 리스트 값 삭제
- del
- remove

In [54]:
list8 = [0,1,2,3,4]  
del list8[4] # 4에 있는거 삭제할꺼에요
list8

[0, 1, 2, 3]

In [55]:
list8

[0, 1, 2, 3]

In [57]:
del list8[1:3]
list8

[0, 3]

In [59]:
# remove(삭제해주고자 하는 값) : 실제 리스트 내부의 값을 이용해서 삭제
list9 = ['a','b','c','d','e']
list9.remove('d')
list9

['a', 'b', 'c', 'e']

In [ ]:
list9.remove('d' ) # 이 오류를 자주볼것임 d가 삭제되었는데 또 삭제하려고하니까 나는 오류

### 리스트 정렬

In [60]:
list10 = [9, 77, 13, 51, 48, 100, 3]
list10

[9, 77, 13, 51, 48, 100, 3]

In [61]:
#sort() 함수 : 값을 정렬해주는 기능 (오름차순)
list10.sort() 
list10

[3, 9, 13, 48, 51, 77, 100]

In [65]:
# reverse() : 리스트에 있는 값을 역순으로 뒤집는 기능
list11 = [9, 77, 13, 51, 48, 100, 3]
list11.reverse()
list11

[3, 100, 48, 51, 13, 77, 9]

In [67]:
# sort와 reverse로 내림차순 해보기!
list12 =  [9, 77, 13, 51, 48, 100, 3]
list12.sort()
list12.reverse()

list12

[100, 77, 51, 48, 13, 9, 3]

In [68]:
# 좀 더 쉽게 내림차순 하는 방법
list13 =  [9, 77, 13, 51, 48, 100, 3]
list13.sort(reverse = True) 
        #원래 sort의 reverse가 False니까 True로 바꿔주면 오름차순의 반대인 내림차순!이 나오겠지
list13

[100, 77, 51, 48, 13, 9, 3]

In [70]:
# 리스트 값 위치 출력 및 제거
list14 = ['a','b','c','d','e']

In [71]:
# index() : 찾고자 하는 값에 위치(index값)를 출력
list14.index('b')

1

In [72]:
# pop() : 마지막 값을 출력한 후 리스트에서 제거! --> 정보처리기사에 나옴
list15 = ['a','b','c','d','e']
list15.pop()

'e'

In [73]:
list15   # 확인해보니 e가 사라짐

['a', 'b', 'c', 'd']

In [74]:
# len(리스트) -> 리스트의 값 개수를 출력해주는 함수 (반복문에서 많이 사용!)
len(list15)

4

In [84]:
s = "Hi, My name is SeongWoo"

a = input("검색할 문자를 입력하세요 : ")

b = s.count(a)

if a in s :   # s 안에 a에서 받은 문자가 들어있는지 확인도해줌(따로 안나눠도)
    print(f"{a}는 {b}번 들어있네유!")
elif a not in s : 
    print(f"{a}는 들어있지 않네유..")

검색할 문자를 입력하세요 : is
is는 1번 들어있네유!